* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    background-color: #250316;
    color: rgb(44, 102, 83);
}

#navbar ul {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    font-size: small;
}

#navbar li {
    float: center;
}

#navbar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}


/* Change the link color to #111 (black) on hover */

#navbar li a:hover {
    background-color: #111;
}

h1 {
    font-size: 2rem;
    font-family: 'Montserrat';
    font-weight: normal;
    color: rgb(202, 202, 202);
    text-align: center;
    margin: 2rem 0;
}

.cart {
    width: 30px;
    height: 30px;
    margin-top: 7px;
    position: absolute;
    left: 65%;
    margin-left: 200px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    border: 2px solid #fff;
    background: #00b894;
    cursor: pointer;
    text-align: center;
}

.cart h6 {
    margin-top: 8px;
}

.cart:hover {
    box-shadow: inset 0 0 7px 0 rgba(0, 0, 0, 0.5);
    -moz-box-shadow: inset 0 0 7px 0 rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: inset 0 0 7px o rgba(0, 0, 0, 0.5);
    -box-shadow: inset 0 0 7px 0 rgba(0, 0, 0, 0.5);
}

.cart:hover .popup {
    visibility: visible;
    opacity: 1;
    pointer-events: auto;
    -webkit-animation-duration: 200ms;
    -webkit-animation-duration: show-popup;
    -webkit-animation-direction: normal;
    -webkit-animation-timing-function: cubic-bezier(1, 0.18, 1, 0.93);
    -moz-animation-duration: 200ms;
    -moz-animation-name: show-popup;
    -moz-animation-direction: normal;
    -moz-animation-timing-function: cubic-bezier(1, 0.18, 1, 0.93);
    -o-animation-duration: 200ms;
    -o-animation-name: show-popup;
    -o-animation-direction: normal;
    -o-animation-timing-function: cubic-bezier(1, 0.18, 1, 0.93);
    animation-duration: 200ms;
    animation-name: show-popup;
    animation-direction: normal;
    animation-timing-function: cubic-bezier(1, 0.18, 1, 0.93);
}


/*xd popup window*/

.popup {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    position: absolute;
    top: 100%;
    width: 250px;
    margin-left: -105px;
    margin-top: 20px;
    background: #ffffff;
    border: 1px solid #cbcbcb;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -moz-box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.3);
}

.popup:after {
    position: absolute;
    content: ' ';
    top: -30px;
    height: 30px;
    width: 100%;
}

.popup:before {
    position: absolute;
    content: ' ';
    left: 117px;
    top: -9px;
    width: 5px;
    height: 5px;
    border-top: 1px solid #cbcbcb;
    border-right: 1px solid #cbcbcb;
    background: #ffffff;
    -moz-box-shadow: 1px -1px 1px 0 rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 1px -1px 1px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 1px -1px 1px 0 rgba(0, 0, 0, 0.2);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.row {
    padding: 5px 15px;
    overflow: hidden;
}

.row.header {
    -moz-box-shadow: 0 1px 0 0 rgba(203, 203, 203, 0.75);
    box-shadow: 0 1px 0 0 rgba(203, 203, 203, 0.75);
    -webkit-box-shadow: 0 1px 0 0 rgba(203, 203, 203, 0.75);
    -box-shadow: 0 1px 0 0 rgba(203, 203, 203, 0.75);
    -moz-border-radius: 5px 5px 0 0;
    -webkit-border-radius: 5px;
    border-radius: 5px 5px 0 0;
    color: #747474;
    text-shadow: 1px 1px 1px 1px rgba(255, 255, 255, 0.75);
    font: bold 11px Arial;
    background: #FCFCFC;
}

.row.items {
    color: #00b894;
    font: bold 18px Arial;
    position: relative;
}

.row.items span:first-child {
    color: #000;
}

.row.checkout {
    color: #747474;
    border-top: 1px solid #ccc;
    background: #FCFCFC;
    font: normal 12px Arial;
}

.row.checkout span:first-child {
    padding: 3px 0;
}

.row.checkout a {
    color: #00b894;
    text-decoration: none;
}

.row.checkout a:hover {
    text-decoration: underline;
}

.row span:first-child {
    float: left;
}

.row span:last-child {
    float: right;
}

.checkout-button {
    padding: 3px 5px;
    background: #00b894;
    -moz-box-shadow: inset 0 2px 7px 0 rgba(255, 255, 255, 0.3);
    -webkit-box-shadow: inset 0 2px 7px 0 rgba(255, 255, 255, 0.3);
    box-shadow: inset 0 2px 7px 0 rgba(255, 255, 255, 0.3);
    border: 1px solid #55efc4;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    color: #ffffff;
}

.checkout-button:hover {
    background: #00b894;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.checkout-button:active {
    background: #00b894;
    -moz-box-shadow: inset 0 1px 2px 0 rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: inset 0 1px 2px 0 rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 1px 2px 0 rgba(0, 0, 0, 0.2);
}

div[class*='col-'] {
    padding: 0 30px;
}

.wrap {
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
}

.panel {
    border-width: 0 0 1px 0;
    border-style: solid;
    background: none;
    box-shadow: none;
}

.panel:last-child {
    border-bottom: none;
}

.panel-group>.panel:first-child .panel-heading {
    border-radius: 4px 4px 0 0;
}

.panel-group .panel {
    border-radius: 0;
}

.panel-group .panel+.panel {
    margin-top: 0;
}

.panel-heading {
    background-color: #306830ec;
    border-radius: 0;
    border: none;
    color: rgba(235, 226, 226, 0.308);
    padding: 0;
}

.panel-title a {
    display: block;
    color: rgb(233, 221, 208);
    padding: 15px;
    position: relative;
    font-size: 16px;
    font-weight: 400;
}


/*.panel-body {
    background: #fff;
}*/

.panel:last-child .panel-body {
    border-radius: 0 0 4px 4px;
}

.panel:last-child .panel-heading {
    border-radius: 0 0 4px 4px;
    transition: border-radius 0.3s linear 0.2s;
}

.panel:last-child .panel-heading.active {
    border-radius: 0;
    transition: border-radius linear 0s;
}


/* #bs-collapse icon scale option */

.panel-heading a:before {
    content: '\e146';
    position: absolute;
    font-family: 'Material Icons';
    right: 5px;
    top: 10px;
    font-size: 24px;
    transition: all 0.5s;
    transform: scale(1);
}

.panel-heading.active a:before {
    content: ' ';
    transition: all 0.5s;
    transform: scale(0);
}

#bs-collapse .panel-heading a:after {
    content: ' ';
    font-size: 24px;
    position: absolute;
    font-family: 'Material Icons';
    right: 5px;
    top: 10px;
    transform: scale(0);
    transition: all 0.5s;
}

#bs-collapse .panel-heading.active a:after {
    content: '\e909';
    transform: scale(1);
    transition: all 0.5s;
}


/* #accordion rotate icon option */

#accordion .panel-heading a:before {
    content: '\e316';
    font-size: 24px;
    position: absolute;
    font-family: 'Material Icons';
    right: 5px;
    top: 10px;
    transform: rotate(180deg);
    transition: all 0.5s;
}

#accordion .panel-heading.active a:before {
    transform: rotate(0deg);
    transition: all 0.5s;
}